ai/aisignal/n8n_workflows/economic_indicators_daily.json
{
    "name": "AI Signal - Economic Indicators Daily",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "name": "Every Day at 9 AM KST",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const { exec } = require('child_process');\nconst util = require('util');\nconst execPromise = util.promisify(exec);\n\nconst command = 'redis-cli -a aisignal2026_secure DEL \"economic_indicators:$(date +%Y%m%d)\"';\n\ntry {\n  const { stdout, stderr } = await execPromise(command);\n  return [{ json: { success: true, stdout, stderr, code: 0 } }];\n} catch (error) {\n  return [{ json: { success: false, error: error.message, code: 1 } }];\n}"
            },
            "name": "Clear Redis Cache",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const { exec } = require('child_process');\nconst util = require('util');\nconst execPromise = util.promisify(exec);\n\nconst command = 'cd /Users/freefox79gmail.com/개발프로젝트/ai/aisignal && source venv/bin/activate && python scripts/collect_economic_data.py';\n\ntry {\n  const { stdout, stderr } = await execPromise(command, { shell: '/bin/bash' });\n  return [{ json: { success: true, stdout, stderr, code: 0 } }];\n} catch (error) {\n  return [{ json: { success: false, error: error.message, stderr: error.stderr, code: error.code || 1 } }];\n}"
            },
            "name": "Collect Economic Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{$json.code}}",
                            "operation": "equal",
                            "value2": 0
                        }
                    ]
                }
            },
            "name": "Check Success",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "text": "✅ 경제 지표 업데이트 완료\n날짜: {{$now.format('YYYY-MM-DD HH:mm')}}\n상태: 성공",
                "additionalFields": {}
            },
            "name": "Success Notification",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1050,
                200
            ]
        },
        {
            "parameters": {
                "text": "❌ 경제 지표 업데이트 실패\n날짜: {{$now.format('YYYY-MM-DD HH:mm')}}\n에러: {{$json.stderr}}",
                "additionalFields": {}
            },
            "name": "Error Notification",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1050,
                400
            ]
        }
    ],
    "connections": {
        "Every Day at 9 AM KST": {
            "main": [
                [
                    {
                        "node": "Clear Redis Cache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clear Redis Cache": {
            "main": [
                [
                    {
                        "node": "Collect Economic Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Economic Data": {
            "main": [
                [
                    {
                        "node": "Check Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Success": {
            "main": [
                [
                    {
                        "node": "Success Notification",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}