ai/aisignal/n8n_workflows/scaling_telegram_alert.json
{
    "name": "AI Signal Scaling Monitor → Telegram",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "scaling-alert",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
                "text": "={{$json.message}}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-1",
            "name": "Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "1",
                    "name": "Telegram Fox Bot"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Alert sent to Telegram\" } }}"
            },
            "id": "respond-1",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}